.plNav {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  width: calc(100% - 48px);
  padding: 20px;
  box-sizing: border-box;
}

.plNav-link {
  text-decoration: none;
  color: #626161;
  padding: 10px 20px;
}

.plNav-link:first-child {
  padding-left: 0;
}

.plNav-link--active {
  font-weight: 800;
}

.plNav-container {
  background: rgb(243, 247, 249);
  width: 100%;
  display: flex;
  justify-content: center;
}