.plPage {
  max-width: 1080px;
  /* background: hsl(0, 0%, 95%); */
  width: calc(100% - 48px);
  min-height: calc(100% - 60px);
  padding: 24px;
  box-sizing: border-box;
}

.plPage--isFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}