body {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #626161;
}

.App {
  min-height: calc(100vh - 80px); /* take nav into account */
  display: flex;
  justify-content: center;
  position: relative;
}

.App-aboutMe {
  display: flex;
  flex-direction: column;
}

.App-icon {
  width: 50px;
}

.App-links {
  position: absolute;
  bottom: 0;
  display: flex;
}