body {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #626161;
    overflow: hidden;
}

.App {
  min-height: calc(100vh - 80px); /* take nav into account */
  display: flex;
  justify-content: center;
  position: relative;
}

.App-aboutMe {
  display: flex;
  flex-direction: column;
}

.App-icon {
  width: 50px;
}

.App-links {
  flex: 1;
  align-items: flex-end;
  width: 100%;
  display: flex;
  padding: 32px 0;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .App-images {
    flex-direction: column !important;
  }
  .App-images > .plCenter {
    align-items: center !important;
    padding: 10px;
  }
  .App-image {
    width: 200px !important;
    height: 200px !important;
  }
}